<div class="d-flex row justify-space-between-md justify-content-center align-content-center py-5">
  <div class=" login-card col-sm-5 border rounded ">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="input-group flex-nowrap d-relative justify-content-center py-2">
        <label for="email-login" class="input-group-text" style="width: 100px;">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="input-group flex-nowrap d-relative justify-content-center py-2">
        <label for="password-login" class="input-group-text" style="width: 100px;">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary customMargin" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class=" login-card col-sm-6 border rounded">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="input-group flex-nowrap d-relative justify-content-center py-2">
        <label for="username-signup" class="input-group-text" style="width: 100px;">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="input-group flex-nowrap d-relative justify-content-center py-2">
        <label for="email-signup" class="input-group-text" style="width: 100px;">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="input-group flex-nowrap d-relative justify-content-center py-2">
        <label for="password-signup" class="input-group-text" style="width: 100px;">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary my-5" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>