html,
body {
  width: 100%;
  overflow-x: hidden;
}

:root {
  --light: #ebebeb;
  --lightdark: #394b61;
  --dark: #243447;
}

body,
div,
#login-card,
#featmon,
.card {
  background-color: var(--dark);
  color: var(--light);
  border: 0px solid;
  text-align: center;
  /* font-family: 'Koh Santepheap', cursive; */
  font-family: "Fondamento", cursive;
}

.card-body {
  background-color: var(--lightdark);
}

#createMonPage {
  background-color: var(--dark);
}

#moncard,
#createMonster {
  border: 2px white solid;
  background-color: var(--dark);
}

.fill-height {
  height: 100%;
}

.customMargin{
  margin-top: 102px;
}

a {
  color: var(--light);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--light);
}