:root {
  --light: #ebebeb;
  --dark: #394b61;
  --lightdark: #243447;
}

body,
div,
#login-card,
#featmon,
.card {
  background-color: var(--lightdark);
  color: var(--light);
  border: 0px solid;
  text-align: center;
}

#moncard {
  border: 2px white solid;
}

.fill-height {
  height: 100%;
}

.customMargin{
  margin-top: 102px;
}